<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change conf</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <script src="{{ static_url('dnd.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ static_url('changes.css') }}"/>
</head>
<body>

{% for name, lst in inner.items() %}
{% for obj in lst %}
<script>
    {% if isinstance(obj, tuple) %}
    _meta_ = {
        'id': {{ obj[0].id }},
        'name': "{{ obj[0].alias }}",
    };
    {% else %}
    _meta_ = {
        'id': {{ obj.id }},
        'name': "{{ obj.name }}",
    };
    {% end %}
    createObjectLike("inner", "{{ name }}", _meta_);
</script>
{% end %}
{% end %}

{% for name, lst in outer.items() %}
{% for obj in lst %}
<script>
    {% if isinstance(obj, tuple) %}
    _meta_ = {
        'id': {{ obj[0].id }},
        'name': "{{ obj[0].alias }}",
    };
    {% else %}
    console.log("{{ obj.name }}");
    _meta_ = {
        'id': {{ obj.id }},
        'name': "{{ obj.name }}",
    };
    {% end %}
    createObjectLike("outer", "{{ name }}", _meta_);
</script>
{% end %}
{% end %}

<div id="boundary"></div>
<div class="note" id="note_left">Тут то что содержится в конфликте</div>
<div class="note" id="note_right">Тут то чего не содержится в конфликте</div>
<div class="note" id="note_center">Перетаскивайте как хотите</div>
<div class="note" id="note_button">
    <form id="removeColony">
        <input type="submit" value="Save"
               onclick="saveChanges('{{ conf.id }}');">
    </form>
    <a href="/conflicts/">Обратно к конфликтам</a><br/>
    <a href="/">Обратно к колониям</a>
</div>
<div id="stuff"></div>

</body>
</html>